.start-game{
  width: 70%;
  height: 30vh;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  h1{
    font-size: 6rem;
    margin-bottom: 1rem;
    text-shadow: 0 4px 84px #D4329A;
    color: #D4329A;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Palanquin Dark', sans-serif;
  }
  button{
    padding: 10px 50px;
    border-radius: 50px;
    background: white;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #D4329A;
    cursor: none;
    font-family: 'Palanquin Dark', sans-serif;
    &:focus{
      outline: none;
    }
  }
  &:before{
    content: '';
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: -45vh;
    height: 90vh;
    border-radius: 100%;
    left: -170px;
    right: -170px;
    background: #010541;
  }

  @media(max-width: 980px){
    h1{
      font-size: 4rem;
    }
  }

}

